@import '~sass/settings/_global';
@import '~sass/settings/_colors';
@import '~sass/tools/_breakpoints';


.introduction.grid-container {
    height: calc(100vh - 6em);
    
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 1.5em;
    align-content: center;

    background-image: url("/assets/img/pattern.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: 60%;

    @include sm {
        grid-row-gap: 2em;
        background-position-y: center;
    }

    @include lg {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2em;
        background-size:65%;
        background-position-y: top;
    }

    @include xl {
        height: 100vh;
    }

}


//Columnas
.introduction > div {
    justify-content: center;
    align-items: center;
}


// Columna 1

// Titulos

.introduction > div:first-child {
    grid-column: 1;
    grid-row: 1;
    flex-direction: column;

    @include lg {
        grid-column-start: 2;
        grid-row: 1 / span 2 ;
    }
}

.introduction > div:first-child .title > h1{
    display: inline-block;
    margin-bottom: 5px;
    font-size: 4em;
    transition: all 1s ease;

    @include md {
        font-size: 5em;
    }
    @include rwd (1600) {
        font-size: 6.5vw;
    }
}

.introduction > div:first-child .title > h1:first-child{
    color: $independence;
}

.introduction > div:first-child .title > h1:last-child{
    margin-left: 5px;
    color: $brilliant_azure;
}

// Textos

.introduction > div:first-child .work {
    margin: 0px;
    font-size: 1em;
    background-color: $desire;
    color:$white;
    padding: 0.5em 1em;
    border-radius: 5em;
    font-weight: bold;

    @include md {
        font-size: 1.2em;
    }

    @include rwd (1600) {
        font-size: 1.4vw;
    }

}

.introduction div:first-child p:last-child{
    width: 80%;
    margin: 0px;
    border-radius: 5px;
    line-height: 1.5em;
    text-align: justify;
    word-spacing: 2px;
    font-size: 1.15em;
    color:$trolley_grey;
}

// Columna 2

.introduction div:last-child {
    grid-column: 1;
    grid-row: 2;
    text-align: center;

    @include lg {
        grid-column-start: 1;
        grid-row: 1 / span 2;
    }
}

.introduction div:last-child .avatar {
    width: 90%;
    height: 90%;

    @include lg {
        width: 100%;
    }
}

//SVG

.introduction svg {
    position: absolute;
    height: 90vh;
    right: 0;
    z-index: -1;
}

.introduction svg .st0,
.introduction svg .st1,
.introduction svg .st2 {
    stroke: rgba($brilliant_azure, 0.1);
}

.introduction svg .st0 {
    stroke-dasharray: 250;
    stroke-dashoffset: 500;
    animation: dash 6s ease-in infinite;
}

.introduction svg .st1 {
    stroke-dasharray: 300;
    stroke-dashoffset: 600;
    animation: dash 3s ease-out infinite;
}



//Animaciones

@keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
}