<section class="container grid-container introduction">
  <div class="flex-container">
    <div class="title">
        <h1>{{name}}</h1>
        <h1>{{lastname}}</h1>
    </div>
    <p class="paragraph work">
      {{work}}
    </p>
    <p class="split"></p>
    <p class="paragraph">
      Soy una persona a la cual le gusta estar autoaprendiendo nuevas tecnologias
      ya que me parecen interesantes, ademas que siempre me ha gustado hacer las cosas
      de una manera diferente , creo que ademas de aprender nuevas 
      cosas tambien se debe de reaprender ya que cada dia surge algo nuevo.
    </p>
  </div>
  <div class="flex-container">
      <div class="avatar">
          <img src="/assets/img/avatar.svg" alt="Avatar" class="img-responsive-h">
      </div> 
  </div>
</section>