@import '~sass/settings/_colors';

.introduction.grid-container {
    height: 100vh;
    grid-gap: 2em;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-content: center;
    background-image: url("/assets/img/pattern.png");
    background-size:750px;
    background-repeat: no-repeat;
}

// Columna 1

// Titulos

.introduction > div:first-child {
    grid-column-start: 2;
    grid-row: 1 / span 2 ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.introduction > div:first-child .title > h1{
    display: inline-block;
    margin-bottom: 5px;
    font-size: 5em;
}

.introduction > div:first-child .title > h1:first-child{
    color: $independence;
}

.introduction > div:first-child .title > h1:last-child{
    margin-left: 5px;
    color: $brilliant_azure;
}

// Textos

.introduction > div:first-child .work {
    margin: 0px;
    font-size: 1.2em;
    background-color: $desire;
    color:$white;
    padding: 0.5em 1em;
    border-radius: 5em;
    font-weight: bold;
}

.introduction div:first-child p:last-child{
    width: 80%;
    margin: 0px;
    border-radius: 5px;
    line-height: 1.5em;
    text-align: justify;
    word-spacing: 2px;
    font-size: 1.15em;
    color:$trolley_grey;
}

// Columna 2

.introduction div:last-child {
    grid-column-start: 1;
    grid-row: 1 / span 2;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.introduction div:last-child .avatar {
    width: 100%;
    height: 90%;
}

//SVG

.introduction svg {
    position: absolute;
    height: 90vh;
    right: 0;
}

.introduction svg .st0,
.introduction svg .st1,
.introduction svg .st2 {
    stroke: rgba($brilliant_azure, 0.1);
}

.introduction svg .st0 {
    stroke-dasharray: 250;
    stroke-dashoffset: 500;
    animation: dash 6s ease-in infinite;
}

.introduction svg .st1 {
    stroke-dasharray: 300;
    stroke-dashoffset: 600;
    animation: dash 3s ease-out infinite;
}



//Animaciones

@keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
}