@import '~sass/settings/_global';
@import '~sass/settings/_colors';
@import '~sass/tools/_breakpoints';

div.about.grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 75vh;
    grid-row-gap: 2em;

    @include sm {
        grid-template-rows: 1fr 1fr;
    }

    @include lg {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-row-gap: 0em;
        margin-top: 2em;
    }

    @include xl {
        height: 100vh;
        margin-top: 0em;
    }
}

// About Me

div.me {
    grid-column: 1;
    grid-row: 1;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

div.me > h1 {
    font-size: 4em;
    color: $brilliant_azure;
    word-spacing: -10px;
    margin-bottom: 2rem;
    
    @include md {
        margin-top: 0em;
    }

    @include rwd(1600) {
        font-size: 5.2vw;
    }

}

div.me > h1 > span {
    font-family: 'Fivo Sans Medium';
    color: $white;
    background-color: $independence;
    padding: 12px; 
}

div.me > div {
    padding: 1em;
    width: 80%;
    align-self: center;

    @include lg {
        align-self: inherit;
    }
}

div.me > div > p {
    font-size: 1.2em;
    font-family: 'Fivo Sans Light';
    text-align: justify;
    color: $maastricht_blue;

    @include rwd(1600) {
        font-size: 1.5vw;
    }
}

div.me > div > p > span.remark {
    color: $brilliant_azure;
}

div.me > a {
    align-self: center;
    padding: 1em;
    background-color: $brilliant_azure;
    color: $white;
    border-radius: 2em;
    word-spacing: 10px;
    font-family: 'Fivo Sans';
    margin-top: 2em;

    @include rwd(1600) {
        font-size: 1.1vw;
    }
}

div.me > a > span {
    padding: 10px;
    border-radius: 2em;
    background-color: $baby_powder;
    color: $brilliant_azure;
}

//Map

div.map {
    grid-column: 1;
    grid-row: 2;
    justify-content: center;
    align-items: center;

    @include lg {
        grid-column: 2;
        grid-row: 1;
    }
}

div.map div:last-child {
    position: absolute;
    width: 95%;
    z-index: -1;

    @include lg {
        width: 50%;
        height: 90vh;
        right: 0;
    }
}


div.map svg .stroke-map {
    stroke-dasharray: 3550;
    stroke-dashoffset: 3550;
    stroke: $maastricht_blue;
    fill: $white;
    opacity: 0.81;
    stroke-width: 10;
    animation: dash 5s ease infinite;
}

//Animaciones
@keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
}