.hamburger-menu {
    width: 50px;
    cursor: default;
    transition: all 0.2s ease;
}

.hamburger-menu > div{
    width: 30px;
	height: 3px;
    background-color: $brilliant_azure;
    margin: auto;
    transition: all 0.2s ease;
}

.hamburger-menu > div:nth-child(2){
    margin: 5px auto;
}

//Transform
.hamburger-menu.active > div {
	transform: rotate(180deg);
}

.hamburger-menu.active > div:first-child {
	width: 40px;
	transform: translateY(2px) rotate(45deg);
}

.hamburger-menu.active > div:nth-child(2) {
	display: none;
}

.hamburger-menu.active > div:last-child {
	width: 40px;
	transform: translateY(-1px) rotate(-45deg);
}
