//Palette 

//Main Colors
$independence: hsl(214, 26%, 31%);
$brilliant_azure: hsl(215, 97%, 59%);

$desire: hsl(355, 78%, 60%);
$grain_yellow: hsl(49, 93%, 67%);
$medium_aquamarine: hsl(151, 72%, 61%);

$baby_powder: hsl(60, 67%, 99%);
$trolley_grey: hsl(0, 0%, 50%);

//Landscape
$maya_blue: hsl(200, 95%, 70%);
$green_ryb: hsl(85, 71%, 41%);
$yellow_green: hsl(84, 60%, 49%);

$yankees_blue: hsl(202, 39%, 19%);
$lincoln_green: hsl(85, 98%, 17%);
$dark_moss_green: hsl(85, 59%, 28%);