//Palette 

$independence: hsl(214, 26%, 31%);
$brilliant_azure: hsl(215, 97%, 59%);
$desire: hsl(355, 78%, 60%);
$grain_yellow: hsl(49, 93%, 67%);
$baby_powder: hsl(60, 67%, 99%);

$trolley_grey: hsl(0, 0%, 50%);