//Palette 

$independence: hsla(214%, 26%, 31%, 1);
$desire: hsla(355%, 78%, 60%, 1);
$grain_yellow: hsla(49%, 93%, 67%, 1);
$brilliant_azure: hsla(215%, 97%, 59%, 1);
$baby_powder: hsla(60%, 100%, 99%, 1);