<section class="grid-container skills container">
  <div>
    <h3 class="title">Desarrollo Web & Mobil - API'S REST y GRAPH</h3>
    <div class="backend flex-container">
        <svg xmlns="http://www.w3.org/2000/svg" class="img-responsive-w" viewBox="0 0 500 580">
          <style>
              .st6 { fill: #c7c7c7 }
              .st7 { fill: #7EE081 }
              .st8 { fill: #adadad }
              .st10 { fill: #83a460 }
              .st13 { fill: #45c3a7 }
          </style>
          <path d="M458.3 558.5H41.7c-11 0-20-9-20-20v-497c0-11 9-20 20-20h416.5c11 0 20 9 20 20v497c.1 11.1-8.9 20-19.9 20z"
              fill="#1E2733" />
          <path fill="#1E2733" d="M21.7 73H478v464H21.7z" />
          <path fill="#253040" d="M137 73h341.3v464H137z" />
          <path class="st6" d="M39.1 105.3h43.5v8.6H39.1zM39.1 120.3h58.7v8.6H39.1zM39.1 150.4h19.6v8.6H39.1zM63 150.4h34.8v8.6H63zM39.1 191.2h32.6v8.6H39.1zM76.1 191.2h15.2v8.6H76.1zM39.1 206.2h58.7v8.6H39.1z"
          />
          <path class="st7" d="M193.5 241.7h37V261h-37z" />
          <path class="st8" d="M193.5 404.9h26.1v19.3h-26.1z" />
          <path fill="#adadad" d="M193.5 282.5h82.6v19.3h-82.6z" />
          <path class="st10 backend-line-3" d="M241.3 241.7h82.6V261h-82.6zM287 282.5h26.1v19.3H287z" />
          <path class="st8" d="M323.9 282.5h52.2v19.3h-52.2z" />
          <path class="st7 backend-line-1">
                <animate 
                    attributeName="d" 
                    dur="2s" 
                    repeatCount="indefinite"
                    calcMode="spline"
                    values = "
                        M 193.5 323.3 h 0 v 19.3 H 193.5 Z;
                        M 193.5 323.3 h 130.4 v 19.3 H 193.5 Z;
                        M 193.5 323.3 h 0 v 19.3 H 193.5 Z
                    "
                    keyTimes="0; 0.45; 1"
                    keySplines="0.42 0 1 1;
                    0.42 0 1 1"
                />
          </path>
          <path class="st10 backend-line-2" d="M193.5 364.1H400v19.3H193.5z" >
            <animate 
                attributeName="d" 
                dur="4s" 
                repeatCount="indefinite"
                calcMode="spline"
                values = "
                    M 193.5 364.1 h 0 v 19.3 H 193.5 Z;
                    M 193.5 364.1 h 100 v 19.3 H 193.5 Z;
                    M 193.5 364.1 h 50 v 19.3 H 193.5 Z;
                    M 193.5 364.1 h 200 v 19.3 H 193.5 Z;
                    M 193.5 364.1 h 0 v 19.3 H 193.5 Z
                "
                keyTimes="0; 0.45; 0.6; 0.9; 1"
                keySplines="0.42 0 1 1;
                0 0 0.59 1;
                0.42 0 1 1;
                0.42 0 1 1"
            />
          </path>
          <path class="backend-line-3" d="M230.4 404.9h45.7v19.3h-45.7z" />
          <path class="st13" d="M194 146.2l-42.4 24.2v-22.3l42.4-24.2z" />
          <path class="st13" d="M194 194.6l-42.4-24.2v-22.3l42.4 24.1z" />
          <path class="st6" d="M39.1 135.3h34.8v8.6H39.1z" />
        </svg>
        <div class="flex-container chips-container">
            <span class="paragraph chips">NodeJS</span>
            <span class="paragraph chips">JS ES6</span>
            <span class="paragraph chips">Java</span>
            <span class="paragraph chips">.NET</span>
            <span class="paragraph chips">Android</span>
            <span class="paragraph chips">C#</span>
            <span class="paragraph chips">Typescript</span>
            <span class="paragraph chips">C++</span>
         </div> 
      </div>
  </div>
  <div>
    <h3 class="title">Maquetación y Diseño Web</h3>
    <div class="frontend flex-container">
        <svg xmlns="http://www.w3.org/2000/svg" class="img-responsive-w" viewBox="0 0 500 580">
            <style>
              .st6 {
                  fill: #efefef
              }
            </style>
            <path fill="#fff" d="M465.1 580H34.9C15.6 580 0 564.4 0 545.1V34.9C0 15.6 15.6 0 34.9 0h430.2C484.4 0 500 15.6 500 34.9v510.2c0 19.3-15.6 34.9-34.9 34.9z"/>
            <path d="M458.3 558.5H41.7c-11 0-20-9-20-20v-497c0-11 9-20 20-20h416.5c11 0 20 9 20 20v497c.1 11.1-8.9 20-19.9 20z" fill="#f2f2f2"
            />
            <path fill="#fff" d="M22 73h456.3v464H22z" />
            <ellipse cx="79.3" cy="47.8" rx="10.9" ry="10.7" fill="#f2e755" />
            <ellipse cx="107.6" cy="47.8" rx="10.9" ry="10.7" fill="#76e279" />
            <ellipse cx="51.1" cy="47.8" rx="10.9" ry="10.7" fill="#fc6060" />
            <path class="st6" d="M41.2 113.3h175v19.3h-175zM41.2
            148.3h175v19.3h-175zM41.2 183.3h175v19.3h-175zM41.2 
            218.3h175v19.3h-175zM41.2 252.3h175v19.3h-175z"
            />
            <path class="frontend-sky" d="M231 113.3h225V272H231z" />
            <path class="frontend-floor" d="M231 227.5h225V272H231z" />
            <path class="frontend-mountain" d="M293.4 158l62.5 69h-125z" />
            <path class="frontend-mountain" d="M393.4 183l62.5 44h-125z" />
            <circle class="frontend-sun-moon" cx="343.5" cy="148.5" r="17.5" />
            <path class="frontend-footer" fill="#e84855">
                <animate 
                    attributeName="d" 
                    dur="6s" 
                    repeatCount="indefinite"
                    calcMode="spline"
                    values = "
                        M 43.5 443 H 43.5 v 50 H 43.5 Z;
                        M 43.5 443 H 456 v 50 H 43.5 Z;
                        M 43.5 443 H 43.5 v 50 H 43.5 Z;
                    "
                    keyTimes="0; 0.6; 1"
                    keySplines="0.42 0 0.6 1;
                    0.42 0 0.2 1"
                />
            </path>
    
        </svg>
        <div class="flex-container chips-container">
            <span class="paragraph chips">Angular</span>
            <span class="paragraph chips">PHP</span>
            <span class="paragraph chips">Javascript</span>
            <span class="paragraph chips">HTML5</span>
            <span class="paragraph chips">Sass</span>
            <span class="paragraph chips">CSS3</span>
            <span class="paragraph chips">Pug Js</span>
            <span class="paragraph chips">Knokout JS</span>
            <span class="paragraph chips">Gulp</span>
            <span class="paragraph chips">JQuery</span>
            <span class="paragraph chips">Illustrator</span>
            <span class="paragraph chips">Gravit</span>
        </div> 
    </div>
  </div>
  <div>
    <h3 class="title">Administración de BD'S SQL & NoSQL</h3>
    <div class="db flex-container">
        <svg xmlns="http://www.w3.org/2000/svg" class="img-responsive-w" viewBox="0 0 450 500">
          <style>
              .db-0 {
                  fill: rgb(30, 39, 51)
              }
          </style>
          <path class="db-0" d="M225.3 392.8C101.2 
            392.8.5 378.4.5 360.6v107.2c0 17.8 100.6 32.2
            224.8 32.2s224.8-14.4 224.8-32.2V360.7c0 
            17.7-100.6 32.1-224.8 32.1zM224.8 244.7C100.6 
            244.7 0 230.3 0 212.5v107.2c0 17.8 100.6 32.2
            224.8 32.2s224.8-14.4 224.8-32.2V212.5c-.1 
            17.8-100.7 32.2-224.8 32.2zM224.8 99.5C100.6 
            99.5 0 85.1 0 67.3v107.2c0 17.8 100.6 32.2 
            224.8 32.2s224.8-14.4 224.8-32.2V67.3c-.1 
            17.8-100.7 32.2-224.8 32.2z"
          />
          <ellipse class="db-0" cx="225.2" cy="67.1" rx="224.7" ry="67.1" />
        </svg>
        <div class="flex-container chips-container">
            <span class="paragraph chips">OracleDB</span>
            <span class="paragraph chips">MySQl</span>
            <span class="paragraph chips">PostgreSQL</span>
            <span class="paragraph chips">LinQ</span>
            <span class="paragraph chips">SQLServer</span>
            <span class="paragraph chips">SQLite</span>
            <span class="paragraph chips">MongoDB</span>
            <span class="paragraph chips">Redis</span>
            <span class="paragraph chips">Firebase</span>
        </div> 
      </div>
  </div>
  <div class="title">
    <h3>Administracion de Servidores & Contenedores</h3>
    <div class="servers flex-container">
        <svg xmlns="http://www.w3.org/2000/svg" class="img-responsive-w" viewBox="0 0 500 525">
            <style>
                .st0 {
                    fill: #1E2733
                }
        
                .st1 {
                    fill: #4A617F
                }
        
                .st2 {
                    fill: #88c9ed
                }
            </style>
            <path class="st0" d="M439.5 121.8h-360c-11 0-20-9-20-20V20c0-11 9-20 20-20h360c11 0 20 9 20 20v81.8c0 11.1-9 20-20 20z"
            />
            <path class="st1" d="M219.6 41.4H89.4c-2.7 0-4.9-2.2-4.9-4.9s2.2-4.9 4.9-4.9h130.3c2.7 0 4.9 2.2 4.9 4.9-.1 2.7-2.3 4.9-5 4.9zM219.6 66.3H89.4c-2.7 0-4.9-2.2-4.9-4.9s2.2-4.9 4.9-4.9h130.3c2.7 0 4.9 2.2 4.9 4.9-.1 2.7-2.3 4.9-5 4.9zM219.6 90.6H89.4c-2.7 0-4.9-2.2-4.9-4.9s2.2-4.9 4.9-4.9h130.3c2.7 0 4.9 2.2 4.9 4.9-.1 2.8-2.3 4.9-5 4.9z"
            />
            <ellipse class="server-status" cx="389.5" cy="60.4" rx="20" ry="19.5" />
            <path class="st0" d="M439.5 258.3h-360c-11 0-20-9-20-20v-81.8c0-11 9-20 20-20h360c11 0 20 9 20 20v81.8c0 11-9 20-20 20z"
            />
            <path class="st1" d="M219.6 177.9H89.4c-2.7 0-4.9-2.2-4.9-4.9s2.2-4.9 4.9-4.9h130.3c2.7 0 4.9 2.2 4.9 4.9-.1 2.7-2.3 4.9-5 4.9zM219.6 202.7H89.4c-2.7 0-4.9-2.2-4.9-4.9s2.2-4.9 4.9-4.9h130.3c2.7 0 4.9 2.2 4.9 4.9-.1 2.7-2.3 4.9-5 4.9zM219.6 227.1H89.4c-2.7 0-4.9-2.2-4.9-4.9s2.2-4.9 4.9-4.9h130.3c2.7 0 4.9 2.2 4.9 4.9-.1 2.7-2.3 4.9-5 4.9z"
            />
            <ellipse class="st2" cx="389.5" cy="196.9" rx="20" ry="19.5" />
            <path class="st0" d="M439.5 394.7h-360c-11 0-20-9-20-20v-81.8c0-11 9-20 20-20h360c11 0 20 9 20 20v81.8c0 11.1-9 20-20 20z"
            />
            <path class="st1" d="M219.6 314.3H89.4c-2.7 0-4.9-2.2-4.9-4.9s2.2-4.9 4.9-4.9h130.3c2.7 0 4.9 2.2 4.9 4.9-.1 2.7-2.3 4.9-5 4.9zM219.6 339.2H89.4c-2.7 0-4.9-2.2-4.9-4.9s2.2-4.9 4.9-4.9h130.3c2.7 0 4.9 2.2 4.9 4.9-.1 2.7-2.3 4.9-5 4.9zM219.6 363.5H89.4c-2.7 0-4.9-2.2-4.9-4.9s2.2-4.9 4.9-4.9h130.3c2.7 0 4.9 2.2 4.9 4.9-.1 2.8-2.3 4.9-5 4.9z"
            />
            <ellipse class="st2" cx="389.5" cy="333.3" rx="20" ry="19.5" />
            <path class="st0" d="M246.5 394.7h30v48.7h-30z" />
            <path class="st1" d="M345 461h175v19.5H345zM0 461h175v19.5H0z" />
            <path class="st0" d="M328 500H192c-10.8 0-19.5-8.7-19.5-19.5V461c0-10.8 8.7-19.5 19.5-19.5h136c10.8 0 19.5 8.7 19.5 19.5v19.5c0 10.8-8.7 19.5-19.5 19.5z"
            />
        </svg>
        <div class="flex-container chips-container">
            <span class="paragraph chips">AWS E2</span>
            <span class="paragraph chips">Ubuntu</span>
            <span class="paragraph chips">DigitalOcean </span>
            <span class="paragraph chips">ArchLinux</span>
            <span class="paragraph chips">Docker</span>
            <span class="paragraph chips">Apache</span>
            <span class="paragraph chips">OpenVZ</span>

        </div> 
      </div>
  </div>
</section>