@import '~sass/settings/colors';

section.skills {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 2em;
    grid-column-gap: 2em;
}

//Propiedades en común

.skills > div > h3 {
    background-color: $brilliant_azure;
    color: $white;
    text-align: center;
    padding: 1em;
    margin-bottom: 0em;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    box-shadow:  0px 1px 3px 3px rgba($brilliant_azure, 0.2)
}

.backend, .frontend, .db, .servers {
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    padding: 1.5em;
}

.chips-container {
    flex-wrap: wrap;
    width: 45%;
    margin: 1em;
    justify-content: space-between;
}

.chips {
    padding: 5px 1em;
    margin: 5px;
    border-radius: 1em;
    font-weight: bold;
    font-size: 15px;
    transition: all 0.2s ease;
    cursor: default;
}

.chips:hover {
    font-size: 1.2em;
}

.chips:nth-child(odd) {
    background-color: $bleu_de_france;
    color: $white;
}

.chips:nth-child(even) {
    background-color: $baby_powder;
    color: $bleu_de_france;
}


//Backend
.skills > div:first-child {
    grid-column: 1;
    grid-row: 1;
}

.skills .backend {
    flex-direction: row
}


//SVG Animations

.backend-line-1 {
    animation: code 2s ease-out infinite;
}

.backend-line-2 {
    animation: pasteCode 4s ease-in infinite;
}

.backend-line-3 {
    animation: errorSuccess 2s ease-in infinite;
}

//Frontend

.skills > div:nth-child(2) {
    grid-column: 2;
    grid-row: 1;
}


//SVG Animations

.frontend-sky {
    animation: dayToNightSky 4s ease infinite;
}

.frontend-floor {
    animation: dayToNightFloor 4s ease infinite;
}

.frontend-mountain {
    animation: dayToNightMountains 4s ease infinite;
}

.frontend-sun-moon {
    animation: sunAndMoon 4s ease infinite;
}

.frontend-footer {
    animation: buildFooter 4s ease-out infinite;
}


//DB 
.skills > div:nth-child(4) {
    grid-column: 1;
    grid-row: 2;
}

.skills .db {
    flex-direction: row
}

//Servers
.skills > div:last-child {
    grid-column: 2;
    grid-row: 2;
}


//SVG Animation
.server-status {
    animation: serverBip 0.5s ease infinite;
}

//SVG

svg.img-responsive-w {
    width: 50%;
}

//Backend Animations
@keyframes code {
    0% { d: path('M 193.5 323.3 h 0 v 19.3 H 193.5 Z') }
    50% { d: path('M 193.5 323.3 h 130.4 v 19.3 H 193.5 Z') }
    100% { d: path('M 193.5 323.3 h 0 v 19.3 H 193.5 Z') }
} 

@keyframes pasteCode {
    0% { d: path('M 193.5 364.1 h 0 v 19.3 H 193.5 Z') }
    25% { d: path('M 193.5 364.1 h 100 v 19.3 H 193.5 Z'); fill: $trolley_grey }
    50% { d: path('M 193.5 364.1 h 50 v 19.3 H 193.5 Z');  fill: $desire }
    75% { d: path('M 193.5 364.1 h 200 v 19.3 H 193.5 Z'); fill: $medium_aquamarine }
    100% { d: path('M 193.5 364.1 h 0 v 19.3 H 193.5 Z');  fill: $medium_aquamarine }
} 

@keyframes errorSuccess {
    0% { fill: $desire }
    50% { fill: $medium_aquamarine }
    100% { fill: $desire }
} 

//Frontend Animations

@keyframes dayToNightSky {
    0% { fill: $maya_blue }
    50% { fill: $yankees_blue }
    100% { fill: $maya_blue }
}

@keyframes dayToNightFloor {
    0% { fill: $green_ryb }
    50% { fill: $lincoln_green }
    100% { fill: $green_ryb }
}

@keyframes dayToNightMountains {
    0% { fill: $yellow_green }
    50% { fill: $dark_moss_green }
    100% { fill: $yellow_green }
}

@keyframes sunAndMoon {
    0% { fill: $grain_yellow }
    50% { fill: $baby_powder }
    100% { fill: $grain_yellow }
}

@keyframes buildFooter {
    0% { d: path('M 43.5 443 H 43.5 v 50 H 43.5 Z') }
    50% { d: path('M 43.5 443 H 456 v 50 H 43.5 Z') }
    100% { d: path('M 43.5 443 H 43.5 v 50 H 43.5 Z') }
}


//Servers
@keyframes serverBip {
    0% { fill: $baby_powder }
    50% { fill: $desire }
    100% { fill: $baby_powder }
}

